#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Reserve
/dev/block/bootdevice/by-name/oplusreserve1    0660    root    system

# WiFi
firmware_directories /odm/etc/wifi/
