#
# Copyright (C) 2022-2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Charger
/sys/class/oplus_chg/*  mmi_charging_enable    0660    system  system

# Reserve
/dev/block/bootdevice/by-name/oplusreserve1    0660    root    system

# WiFi
firmware_directories /odm/etc/wifi/
