type hal_powershare_kona, coredomain, domain;
hal_server_domain(hal_powershare_kona, hal_lineage_powershare)

type hal_powershare_kona_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_powershare_kona)

# Allow access to wireless rx enable nodes
allow hal_powershare_kona procfs_oem_wireless:dir search;
allow hal_powershare_kona procfs_oem_wireless:file rw_file_perms;
