type hal_livedisplay_kona, coredomain, domain;
hal_server_domain(hal_livedisplay_kona, hal_lineage_livedisplay)

type hal_livedisplay_kona_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_livedisplay_kona)

# Allow hal_livedisplay_kona to find vendor_hal_display_color_hwservice
type vendor_hal_display_color_hwservice, hwservice_manager_type;
allow hal_livedisplay_kona vendor_hal_display_color_hwservice:hwservice_manager find;

# Allow binder communication with vendor_hal_display_color_default
type vendor_hal_display_color_default, domain;
binder_call(hal_livedisplay_kona, vendor_hal_display_color_default)

# Allow hal_livedisplay_kona to use binder service
binder_use(hal_livedisplay_kona)

# Allow LiveDisplay to store files under /data/misc/display and access them
allow hal_livedisplay_kona display_misc_file:dir rw_dir_perms;
allow hal_livedisplay_kona display_misc_file:file create_file_perms;

# Grant access over LiveDisplay tuneables
allow hal_livedisplay_kona { sysfs_livedisplay_tuneable sysfs_oem }:file rw_file_perms;

# Allow hal_livedisplay_kona to set config_prop
set_prop(hal_livedisplay_kona, config_prop)
