##################################################################################
### VENDOR_EDIT, OEM All rights reserved.
###
### File: - init.oem.sec.rc
### Author: tomcheng
### all oem sec triger & init are here
### ------------------------------- Revision History: ----------------------------
### <author>                        <data>       <version>   <desc>
### ------------------------------------------------------------------------------
### tomcheng@core                  2020-08-17                Workaround for ISTRACKING-73861
##################################################################################

on post-fs
    rm /mnt/vendor/op2/sec/enroll/1/dmesg.txt
    rm /mnt/vendor/op2/sec/enroll/2/dmesg.txt
    rm /mnt/vendor/op2/sec/enroll/3/dmesg.txt
    rm /mnt/vendor/op2/sec/enroll/4/dmesg.txt
    rm /mnt/vendor/op2/sec/enroll/1/logcat.txt
    rm /mnt/vendor/op2/sec/enroll/2/logcat.txt
    rm /mnt/vendor/op2/sec/enroll/3/logcat.txt
    rm /mnt/vendor/op2/sec/enroll/4/logcat.txt
    rm /mnt/vendor/op2/sec/pass/1/dmesg.txt
    rm /mnt/vendor/op2/sec/pass/2/dmesg.txt
    rm /mnt/vendor/op2/sec/pass/3/dmesg.txt
    rm /mnt/vendor/op2/sec/pass/4/dmesg.txt
    rm /mnt/vendor/op2/sec/pass/1/logcat.txt
    rm /mnt/vendor/op2/sec/pass/2/logcat.txt
    rm /mnt/vendor/op2/sec/pass/3/logcat.txt
    rm /mnt/vendor/op2/sec/pass/4/logcat.txt
    rm /mnt/vendor/op2/sec/fail/1/dmesg.txt
    rm /mnt/vendor/op2/sec/fail/2/dmesg.txt
    rm /mnt/vendor/op2/sec/fail/3/dmesg.txt
    rm /mnt/vendor/op2/sec/fail/4/dmesg.txt
    rm /mnt/vendor/op2/sec/fail/1/logcat.txt
    rm /mnt/vendor/op2/sec/fail/2/logcat.txt
    rm /mnt/vendor/op2/sec/fail/3/logcat.txt
    rm /mnt/vendor/op2/sec/fail/4/logcat.txt
