on post-fs-data && property:ro.boot.cust=8
    mount ext4 /dev/block/bootdevice/by-name/oem_cust1${ro.boot.slot_suffix} /oem ro barrier=1 discard context=u:object_r:oemfs:s0
    mount overlay overlay /product/media/audio lowerdir=/oem/product/media/audio:/product/media/audio,context=u:object_r:system_file:s0
    mount overlay overlay /system/reserve lowerdir=/oem/system/reserve:/system/reserve,context=u:object_r:system_file:s0
    mount overlay overlay /system_ext/app lowerdir=/oem/system_ext/app:/system_ext/app,context=u:object_r:system_file:s0
    mount overlay overlay /system_ext/priv-app lowerdir=/oem/system_ext/priv-app:/system_ext/priv-app,context=u:object_r:system_file:s0
    mount overlay overlay /system_ext/etc lowerdir=/oem/system_ext/etc:/system_ext/etc,context=u:object_r:system_file:s0
    setprop ro.config.alarm_alert wake_up_samurai.ogg
    setprop ro.config.mms_notification in_game_sms.ogg
    setprop ro.config.notification_sound audition.ogg
    setprop ro.config.ringtone rock.ogg

on post-fs-data && property:ro.boot.cust=9
    mount ext4 /dev/block/bootdevice/by-name/oem_cust2${ro.boot.slot_suffix} /oem ro barrier=1 discard context=u:object_r:oemfs:s0
    mount overlay overlay /system/app lowerdir=/oem/system/app:/system/app,context=u:object_r:system_file:s0
    mount overlay overlay /system/priv-app lowerdir=/oem/system/priv-app:/system/priv-app,context=u:object_r:system_file:s0
    mount overlay overlay /system/reserve lowerdir=/oem/system/reserve:/system/reserve,context=u:object_r:system_file:s0
    mount overlay overlay /system_ext/app lowerdir=/oem/system_ext/app:/system_ext/app,context=u:object_r:system_file:s0
    mount overlay overlay /system_ext/priv-app lowerdir=/oem/system_ext/priv-app:/system_ext/priv-app,context=u:object_r:system_file:s0
    mount overlay overlay /system_ext/etc/permissions lowerdir=/oem/system_ext/etc/permissions:/system_ext/etc/permissions,context=u:object_r:system_file:s0
    mount overlay overlay /system_ext/etc/sysconfig lowerdir=/oem/system_ext/etc/sysconfig:/system_ext/etc/sysconfig,context=u:object_r:system_file:s0
