on post-fs
    mount none /odm/lost+found /odm/overlay bind

on boot
    # Fingerprint
    chown system system /sys/devices/platform/soc/soc:goodix_fp/proximity_state

    # OTG
    write /sys/class/power_supply/usb/otg_switch 1

on charger
    write /sys/class/backlight/panel0-backlight/brightness 150

service dashd /system/bin/dashd
    class core
    critical
    group root system

service vendor.secure_element_hal_service /system/bin/true
    disabled
