# this file should import init.rc and then add some oem defined service

#this service is a non-use service and just use to duplicate real console service
service console /system/bin/xxx
    class core
    console
    disabled
    user root
    group shell log
    oneshot
    seclabel u:r:shell:s0

#this service is a non-use service and just use to duplicate real surfaceflinger service
service surfaceflinger /system/bin/xxx
    class core
    oneshot
    disabled

service vendor.fps_hal /vendor/bin/hw/XXX
    class hal
    user system
    group system input uhid everybody
    disabled

#disable below services to solve AT current peaks issue start
service zygote /system/bin/xxx
    class main
    user system
    disabled

service zygote_secondary /system/bin/xxx
    class main
    user root
    group root readproc reserved_disk
    disabled

service vendor.cdsprpcd /vendor/bin/xxx
    class main
    user system
    disabled

service cameraserver /system/bin/xxx
    class late_start
    user cameraserver
    disabled

service iorapd /system/bin/xxx
    class main
    user iorapd
    disabled

service feature_enabler_client /vendor/bin/xxx
    class late_start
    user system
    disabled

service biometrics_face_service /vendor/bin/hw/xxx
    class hal
    user system
    disabled
#disable below services to solve AT current peaks issue end

service oemasserttip /system/bin/xxx
     class main
     user system
     disabled

service vendor.oneplus.cwb-1-0 /vendor/bin/hw/xxx
    oneshot
    disabled

service vendor.qti.hardware.display.composer /vendor/bin/hw/xxx
    oneshot
    disabled
