on init
    chown system graphics /sys/class/drm/card0-DSI-1/dimlayer_bl_en
    chown system graphics /sys/class/drm/card0-DSI-1/hbm
    chmod 0666 /sys/class/drm/card0-DSI-1/dimlayer_bl_en
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm

service vendor.livedisplay-hal-2-1 /vendor/bin/hw/vendor.lineage.livedisplay@2.1-service.oneplus_kona
    class hal
    user system
    group system
